p{
    font-size: 35pt;
    color: black;
    background-color: white;
    display: inline-block;
}
@font-face {
    font-family: Myriad Pro;
    src: url(myriad-pro-cufonfonts/MYRIADPRO-REGULAR.OTF);
 }
